.product-list-wrapper{
    width: 100%;
    display:flex;
    flex-direction: column;    
    justify-content: center; 
    align-items: center;
}
.product-img-cover{
    width: 900px;
    height:300px;
}

.list-item-product{
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    gap: 1rem;
}

.item-product{
    width: 250px;
    height:460px;
    border: solid 1px black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item-product-img{
    width:250px;
    height:270px;
}
.productItem-btn{
    background-color: #6c5a5c;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #f8f8f8;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 30px;
    padding: 0 25px;
    transition: all 200ms ease;;
    margin-bottom: 10px;
}

.productItem-btn:hover{
    background-color: #524c4c;
    color:white;
    transform: scale(1.05);
}

.productItem-price{
    color: red;
    font-weight: 200px;
    font-style:inherit;
    font-weight: 600;
}
.productItem-name{
    font-size: medium;
    text-align: center;
    margin-top: 15px;
    font-size: medium;
}

.btn-color{
    color:white;
}
.btn-color:hover{
    color:black;
}