.wrap-accessory {
    padding: 16px 0;
}
.wrap-accessory > h2{
    text-align: center;
}

.row {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.col-2-5 {
    width: calc(20% - 16px);
}