.cart-page-wrapper{
    /* background-color: aqua; */
    height: 100vh;
    display:flex;
    justify-content: center;
}
.cart-page{
    width: 80%;
    background-color: white;
}
.item-wrapper{
    display:flex;
    gap:50px;
    /* background-color: burlywood; */
}
.item-container{
    width:50%;
    /* background-color: blueviolet; */
}
.item-payment-wrapper{
    width: 250px;
    height: 250px;
    background-color: rgb(244, 234, 223);
    padding: 20px;
    border: solid 1px;
    display:flex;
    flex-direction: column;
}
.payment-total{
    display: flex;
    justify-content: space-between;
}
.item-payment-heading{
    font-weight: bold;
    font-size: medium;
}
.voucher-content{
    margin-bottom: 30px;
}
.payment-total-price{
    color:rgb(234, 58, 58);
}